<div id="<%= dom_id offerjob %>">
  <p>
    <strong>Title:</strong>
    <%= offerjob.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= offerjob.description %>
  </p>

  <p>
    <strong>Requirements:</strong>
    <%= offerjob.requirements %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= offerjob.salary %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= offerjob.location %>
  </p>

</div>
